*{
	margin:0;
	padding:0;
}
.box{
	width:200px;
	height:200px;
	position:relative;
}
.box div{
	width:100%;
	height:100%;
	border-radius:50%;
}
.box:hover{
}
.img{
	background:url(2.jpg);
	background-position:center center;
	transition:all 0.5s;
	
}
.zhao{
	box-sizing:border-box;
	border:10px solid #ecab18;
	border-right:10px solid #14d288;
	border-bottom:10px solid #14d288;
	position:absolute;
	top:0;
	left:0;

}
.zi{
	position:absolute;
	top:0;
	left:0;
	margin:0 auto;
	opacity:0;
	transition:all 0.5s;


}
.zi h1{
	font-size:22px;
	font-weight:normal;
	margin:35px 55px;
	text-align:center;
	color:#fff;

}
.zi p{
	font-weight:normal;
	margin:0px 30px;
	text-align:center;
	color:#fff;
	font-size:12px;
	border-top:1px solid #fff;
	padding-top:10px;


}
.box:hover .zhao{
	background-color:rgba(0,0,0,0.5);
	transform:translate(180deg);
}
.box:hover div.zi{
	opacity:1;

}
